/* General/Global Styling */
body {
    width: 100%;
    min-height: 100%;
    font-family: "Helvetica-Neue",Helvetica,sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
/* Underline 
span {
    border-bottom: 2px solid white;
}

*/

/* Jumbotron Stylings */
.jumbotron {
    display: flex;
    text-align: center;
    background-color: transparent;
    background: none;
    height: 100vh;
    overflow: hidden;
    margin-top: 200px;
}
.jumbotron h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0px;
    animation: fade 4s;
    top: 60px;
    z-index: 1;
    color: black;
}
.jumbotron h4 {
    font-size: 10px;
    animation: fade 10s;
    z-index: 1;
    top: -150px;
    color: black;
}
.jumbotron h3 {
    font-size: 15px;
    color: green;
}
.jumbotron ul {
    list-style-type: none;
    margin-top: -5px;
	font-weight: bold;
    padding: 0;
	text-align: center;
}
.jumbotron a {
    color: #FF7E1F;
    font-weight: 100;  
}
.jumbotron img {
    width: 300px;
    position: relative;
    display: block;
    margin: auto;
    opacity: 0.5;
}
/* Projects Section Styling */
@-webkit-keyframes fade{
  from{
    /*top:50px;*/
    opacity:0;
  }
  to{
   /* top:0px;*/
    opacity:1;
  }
}

.thumbnail {
	background-color: transparent;
  line-height: 1.42857143;
  border: 2px solid transparent;
	margin: 20px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.social-icons {
    text-align: center;
    /*animation: float 6s ease-in-out infinite;*/
    animation: fade 6s;
}
.social-icons ul{
    list-style: none;
    margin:15px;
    padding: 0;
}
.social-icons li {
    display:inline-block;
}
.social-icons img {
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    width: 20px;
}

#menu {
    animation: fade 10s;
}
#menu ul {
    list-style: none;
}
#menu li {
    display: inline-block;
    font-size: 10pt;
}

/* Media Query for responsive design */
@media(min-width:768px) {
    .jumbotron h1 {
        font-size:60px;
        top: 150px;
        animation: float 4s infinite;
    }
    .jumbotron h3 {
      font-size: 20px;
    }
    .jumbotron h4 {
      font-size: 15px;
        top: -220px;
    }
    .jumbotron img {
        width: 500px;
    }
    .social-icons img {
      width: 35px;
    }
    #menu li {
        font-size: 12pt;
        padding: 10pt;
    }
}
/* Floating Animation */
@keyframes float {
	0% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
	50% {
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		transform: translatey(-10px);
	}
	100% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
}
