/* General Styling */
body {
    width: 100%;
    min-height: 100%;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
    background-color: #0C0809;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
h6 {
    font-size: 5px
}

/* Jumbotron Stylings */
.jumbotron {
    display: flex;
    background-color: transparent;
    height: 600px;
    overflow: hidden;
    margin-top: 300px;
}
span {
    border-bottom: 2px solid white;
}
.jumbotron h1 {
  font-size: 40px;
  font-weight: lighter;
  margin: 0px;
	text-align: center;
}
.jumbotron h2{
  text-align: center;
  color: orange;
  font-size: 20px;
  font-weight: lighter;
}
.jumbotron ul {
    list-style-type: none;
    margin-top: 20px;
	font-size: 15px;
	font-weight: bold;
    padding: 0;
	text-align: center;
}
/*Photo styling*/
.photoflow {
  width: 500px;
  margin: 0 auto;
}
@media(min-width:768px) {
  .photoflow {
    width:300px;
    margin: 0 auto;

  }
}

#description {
  position:relative;
  animation: slide 2.5s;
  animation-delay: 2s;
}
@-webkit-keyframes slide{
  from{
    top:50px;
    opacity:0;
  }
  to{
    top:0px;
    opacity:1;
  }
}
.thumbnail {
	background-color: transparent;
  line-height: 1.42857143;
  border: 2px solid transparent;
	margin: 20px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.social-icons {
		text-align: center;
    /*animation: float 6s ease-in-out infinite;*/
	}
	.social-icons ul{
		list-style: none;
		margin: 15px;
    padding: 0;
	}
	.social-icons li {
		display:inline-block;
	}
	.social-icons img {
		display: block;
    margin-left: 8px;
    margin-right: 8px;
		width: 20px;
	}


#menu li {
	margin: 10px;
	color: #ff0000;
}
#menu li.active{
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #ff0000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 50px;
	padding: 0;
	margin-top: 400px;
	font-size: 15px;
	font-weight: bold;
}
.shape {
  height: 150px;
  width: 150px;
  background-color: #0074d9;
  border-radius: 80px;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
}
#square {
	width: 100px;
	height: 100px;
	background: red;
  animation: float 6s ease-in-out infinite;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Media Query for responsive design */
@media(min-width:768px) {
    .jumbotron h1 {
        font-size:60px;
    }
    .jumbotron h2 {
      font-size: 30px;
    }
    .jumbotron ul {
        font-size: 25px;
    }
    .jumbotron img {
        width: 25px
    }
    .social-icons img {
      width: 35px;
    }

}

@keyframes float {
	0% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
	50% {
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		transform: translatey(-20px);
	}
	100% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
}
