/* General Styling */
body {
    width: 100%;
    height: auto;
    font-family: Menlo,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000000;
	padding-bottom: 30px;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: Arial,Menlo,"Helvetica Neue",Helvetica,sans-serif;
    letter-spacing: 1px;
}
h2 {
  text-align: left;
  padding-left: 40px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
h6 {
    font-size: 5px
}


/* Jumbotron Stylings */
.jumbotron {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 600px;
    overflow: hidden;
}
.jumbotron h1 {
  font-size: 90px;
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;
  text-align: center;
}
.name h1:after {
	display: block;
	content: '';
	margin: 0 auto;
	width: 60%;
	height: 15px;
	background: #c62424;
}

.jumbotron h2 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  color: #fff;
}
.jumbotron ul {
    list-style-type: none;
    margin-top: 20px;
	font-size: 30px;
    padding: 0;
	color: #fff;
	text-align: left;
	font-family: Arial,Menlo,"Helvetica Neue",Helvetica,sans-serif;
    letter-spacing: 1px;
	
}/* create a div block that will be cntered so that text can be aligned in the box to the right*/
.jumbotron img{
    width: 50px;
}
/* Media Query for responsive design */
@media(max-width:768px) {
    .jumbotron h1 {
        font-size:50px;

    }
      .jumbotron li {
        font-size: 20px;
    }
      .jumbotron img {
        width: 25px
    }
}

/*Photo styling*/
.photoflow {
  width: 500px;
  margin: 0 auto;
}
@media(max-width:768px) {
  .photoflow {
    width:300px;
    margin: 0 auto;
    
  }
}

#description {
  position:relative;
  animation: slide 2.5s;
  animation-delay: 2s;
}
@-webkit-keyframes slide{
  from{
    top:50px;
    opacity:0;
  } 
  to{
    top:0px;
    opacity:1;
  }
}
.thumbnail {
	background-color: transparent;
  line-height: 1.42857143;
  border: 2px solid transparent;
	margin: 20px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

/*Navigation Bar*/
.navbar-default .navbar-nav>li>a {
	color: #000;
}
.navbar-nav>li>a {
	padding-top: 14px;
	padding-bottom: 6px;
	right: 20px;
}
.navbar-inverse {
	background-color: #333333;
	
}
.navbar-brand {
	float: none;
	padding: 0px;
	margin: 0 auto;
	height: 30px;
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
}
.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

