html, body {
	margin: 0;
	padding: 0;
}
body {
}

ul {
	list-style: none;
}
li {
	display: inline;
}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
}

/* Header */
.header {
	font-family: 'Lobster', cursive;
  	height: 800px;
  	text-align: center; 
}

.header .container {
	position: relative;
	top: 100px;
}

.header h1 {
	font-size: 120px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 20px;
}
.header p {
	font-weight: 500;
	letter-spacing: 5px;
	margin-bottom: 40px;
	margin-top: 20px;
}

.social .container {
	padding: 0 360px;
	margin: 0 auto;
}

.social img{
	height: 50px;
	width: 50px;
}