body{
  background: #666;
  font-family: "Helvetica-Neue", Helvetica, sans-serif;
  text-align: center;
}
h1,h2,h3 {
  font-size: 25px;
  color: white;
  text-align: center;
}

.jumbotron{
    margin-top: 150px;
}
.jumbotron img {
  width: 80%;
}
.socialMedia ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.socialMedia li {
  display: inline-block;
}
.socialMedia img {
  width: 30px;
  display: block;
}
