/*NOTE TO FUTURE ERIK, GET RID OF THE JUMBOTRON NO NEED FOR IT */
/* General/Global Styling */
body {
    width: 100%;
    min-height: 100%;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    background-color: black;
}
html {
    width: 100%;
    height: 100%;
}
canvas {
    margin: auto;
    transform:  translate(0%,100%);
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
a:hover {
  text-decoration: none;
}
.center {
    position: fixed;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.statuscontainer {
    position: fixed;
    width: 70%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.status {
    color: white;
    z-index: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#textincanvas {
    position: absolute;
    left: 425px;
    top: 400px;
    z-index: 1;
}

/* Media Query for responsive design */
/* Normal Size Screen */
@media(max-width:768px) {
    #status {
        font-size:10px;
    }
    #namerender {
        width: 120%;
    }
}
/* Light and Dark Mode Scheme */
.night-scheme { 
    background-image: linear-gradient( #30481A,#0B0B0B);
    color: rgb(245, 245, 247);
}
.night-scheme a {
    color: white;
}
.mina-scheme {
    background-image: linear-gradient( #FFFFFF,#F5D0F0);
    color: rgb(245, 245, 247);
}
.minaText {
    color:  #05A89D;
}
.proto-scheme {
    background-color: black;
}
@media (prefers-color-scheme: light) {
    .night-scheme.light-scheme {
        background-image: linear-gradient( #30481A,#0B0B0B);
        color: rgb(28, 28, 30);
    }
    .night-scheme.light-scheme a{
        color: black;
    }
}
/* Keyframes Animations */
@keyframes float {
	0% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translateZ(0px);
	}
	50% {
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		transform: translateZ(-8px);
	}
	100% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translateZ(0px);
	}
}
@keyframes fade{
    from{
      /*top:50px;*/
      opacity:0;
    }
    to{
     /* top:0px;*/
      opacity:1;
    }
  }
  /* Creating elements */
  .roundedCard {
  border-radius: 25px;
  background: #FFFFFF;
  padding: 20px; 
  width: 200px;
  height: 150px;
  color:  #000000;
  font-weight: bold;
}
